@model IEnumerable<Assignment3.Models.phones2>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.customerno_ }) |
            @Html.ActionLink("Details", "Details", new { id=item.customerno_ }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.customerno_ })
        </td>
    </tr>
}

</table>
